---
layout: page
---


{% assign page_category = page.categories | first %}

<h2>{{ page.list_title | default: "Articles in this category:" }} {{page_category}}</h2>

{{ content }}

<div>
  <ul>
    {% for post in site.notes %}
      {% if post.categories contains page_category %}
      <li>
        <b>
          <a href="{{ post.url | relative_url }}{%- if site.use_html_extension -%}.html{%- endif -%}">
            {{ post.title | escape }}
          </a>
        </b> - <i>{{ post.date | date: date_format }}</i>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
